<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommender!

    </title>
</head>
<body>
    <!-- MOST OF WHAT WE CARE ABOUT GOES IN THE BODY  -->

    <h1>Hello!!!</h1>

    <p>Please Enter your favorite movies:</p>

    <!-- LETS INCLUDE A USER FORM  -->
    <!-- <tag> -->
        <!-- <tag attr="" attr2 = "" > -->
    <form action="/recommend">   
        <input type="text" name="movie1" placeholder="Type movie...">
        <select name="rating1">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <br>
        <input type="text" name="movie2" placeholder="Type movie...">
        <select name="rating2">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <br>
        <input type="text" name="movie3" placeholder="Type movie...">
        <select name="rating3">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <br>
        <input type="submit">

    </form>





    <!-- <a href='/recommend'>Go to the recommendations page!</a> -->

</body>
</html>